app:
  jwt:
    secret: ${APP_JWT_SECRET:local-dev-secret}
    access-ttl: PT15M
    refresh-ttl: P7D

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/studsys
    username: studsys
    password: studsys

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: info
